extends layout

block content
  h1= repo.fullName
  img(src=repo.owner.avatarUri class="avatar")
  dl
    dt Owner
    dd 
      a(href=`/users/${repo.owner.login}`)= repo.owner.login
    dt Description
    dd= repo.description
    dt Issues
    dd Click #[a(href=`/repos/${repo.owner.login}/${repo.name}/issues`) here] for full list.
    dt Pull Requests
    dd Click #[a(href=`/repos/${repo.owner.login}/${repo.name}/pull-requests`) here] for full list.
    dt Commits
    dd Click #[a(href=`/repos/${repo.owner.login}/${repo.name}/commits`) here] for full list.
    dt Branches
    dd Click #[a(href=`/repos/${repo.owner.login}/${repo.name}/branches`) here] for full list.
