extends layout

block content
  h1= repo.fullName
  img(src=repo.owner.avatarUri class="avatar")
  h2 Issues
  p These are the issues from the repository:
  ul(class="item-list")
    each issue in issues
      li
        img(src=issue.user.avatarUri class="avatar")
        span
            a(href=`/repos/${repo.owner.login}/${repo.name}/issues/${issue.number}`)= "#" + issue.number
        div(class="description")= issue.title
